.header-component {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    color: black;
}

.header-component__logo-container {
    height: 100%;
}

.header-component__logo {
    height: 100%;
}

.header-component__navigation {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items-component {
    height: 100%;
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.nav-items-component__nav-btn {
    height: 100%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-collapse: collapse;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items-component__nav-btn:hover {
    border-bottom: 4px solid black;
}

.nav-items-component__nav-content {
    width: 100%;
    display: block;
    border-right: 2px solid black;
    text-decoration: none;
    color: black;
    padding: 0 30px;
}

.nav-items-component__nav-btn:last-of-type>.nav-items-component__nav-content {
    border-right: 2px solid transparent;
}

@media only screen and (max-width: 690px) {
    .header-component__navigation {
        visibility: hidden;
        order: -1;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .header-component__navigation--visibility{
        visibility: visible;
    }

    .header-component__navigation::before {
        content: "";
        visibility: visible;
        box-sizing: border-box;
        height: 30px;
        width: 30px;
        border-top: 18px double rgb(0, 0, 0);
        border-bottom: 6px solid rgb(0, 0, 0);
        position: fixed;
        top: 10px;
        left: 10px;
    }

    .nav-items-component {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 50px;
        left: 0;
        padding: 0;
        margin: 0;
    }

    .nav-items-component__nav-btn { 
        width: 100%;
    }
        .nav-items-component__nav-btn:hover {
        background-color: #d4d4d4;
        border-bottom: 4px solid transparent;
    }

    .nav-items-component__nav-content {
        width: 100%;
        padding: 0 10px;
        border-right: 2px solid transparent;
    }
}


/* ----------------- */

.button-set{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header-component_button {
    width: 100px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.header-component_button:hover {
    background-color:rgba(255, 244, 244, 0.8);
}
.button-search{
    padding: 5px;
    border-color: transparent;
    margin: 2px;
}

.button-search:focus{
    background-color: #d5d5d5;
}
.button-search__hide{
    display: none;
    padding: 2px;
}

.button-search__show{
    display: block;
    padding: 2px;
}
