<form #createPostForm="ngForm" (ngSubmit)="savePost(createPostForm.value)" class="create-post-container__form">
  <label for="post-title">Title</label>
  <input type="text" placeholder="type here.." id="post-title" name="title" ngModel>
  <label for="post-body">Write your story</label>
  <blog-medium-editor id="post-body" #mediumEditor></blog-medium-editor>
  <label for="post-footer">Add hashtags (#keywords) for better search</label>
  <input type="text" id="post-footer" placeholder="hashtags.." name="hashtags" ngModel> 
  <button type="submit">Create</button>
</form>