.create-post-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-post-form__input{
    border: 2px solid #d4d4d4;
    margin: 0;
    color: black;
}

input::placeholder {
    color: red;
  }


.create-post-form__label{

}

.create-post-form__button{

}