<div class="overlay" (click)="closePopUp()"></div>
<section class="form-container">
  <!-- <div class="form-container__header"> -->
    <button (click)="closePopUp()" class="form-container__close">&times;</button>
  <!-- </div> -->
  <a class="logo-container" href="#">
    <img class="logo" src="/assets/pictures/logo.png" alt="logo">
  </a>
  <h2>Welcome to OV!</h2>
    <blog-google-sign-in-button></blog-google-sign-in-button>
    <p>Creating an account means you're okay with OV's Terms of Service, Privacy Policy.</p>
</section>