<section class="contact-component">
    <article class="contact-component__info-container">
        <h3 class="contact-component__header">Contact us</h3>
        <p>We are always ready to help whenever we can</p>
        <p>If you have great ideas about this platform do not hesitate to contact us</p>
        <form class="contact-form">
            <div class="contact-form__question">
                <input type="text" required/>
                <label>Your Name</label>
            </div>
            <div class="contact-form__question">
                <input type="text" required/>
                <label>Email Address</label>
            </div>
            <div class="contact-form__question">
                <input type="text" required/>
                <label>Phone number</label>
            </div>
            <button class="contact-form__button">Submit</button>
        </form>
        <p>e-mail: olg.katsalap@gmail.com</p>
        <p>phone: +38 096 585 72 77</p>
    </article>
    <blog-map></blog-map>
</section>