<section class="contact-component">
    <article class="contact-component__info-container">
        <h3>Contact us</h3>
        <p>We are always ready to help whenever we can</p>
        <p>If you have great ideas about this platform do not hesitate to contact us</p>
        <form class="contact-component__form">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="phone">
            <input type="email" placeholder="email">
            <button>Submit</button>
        </form>
        <p>e-mail: olg.katsalap@gmail.com</p>
        <p>phone: +38 096 585 72 77</p>
    </article>
    <blog-map></blog-map>
</section>