<ng-container *ngIf="user; else signIn">
    <img [src]="user.avatarImageUrl" alt="avatar" class="header-avatar" (click)="showUserMenu()" (clickOutside)="onClickedOutside($event)">
    <blog-user-menu (signOut)="signOut()" [userId]="user.id" [hidden]="!isUserMenuVisible"></blog-user-menu>
</ng-container>
<ng-template #signIn>
    <button *ngIf="!isUserAccount" (click)="showPopUp()"  class="header-component_button">Sign in</button>
</ng-template>
<blog-access-view (close)="hidePopUp()" [hidden]="!isAccessPopupVisible"></blog-access-view>
