<footer class="footer-component">
  <div class="footer-component__inner-container">
    <p class="footer-component__general-info">All information for this page are public information about my frienfs in Facebook. Other pictures were grabedom freestock of photos: https://www.pexels.com/. </p>
    <nav class="footer-component__navigation">
      <a class="footer-component__button" href="">FAQ's</a>
      <a class="footer-component__button" href="">Privacy Policy</a>
      <a class="footer-component__button" href="#contact">Contact Us</a>
    </nav>
    <p class="footer-component__copyright">© 2017. OV. All rights reserved.</p>
  </div>
</footer>