/* ----------------my styles---------------------- */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Carme', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/* Fonts that are used

    font-family: 'Carme', sans-serif;
    font-family: 'Kristi', cursive;
    font-family: 'Amita', cursive; */


/* styles for content user types in posts*/

.post-content img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.post-content p {
    margin: 5px 0;
}

/* general styles*/

.general-button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #d4d4d4 5%, #668088 100%);
    background-color: #d4d4d4;
    border-radius: 6px;
    border: 1px solid #3d4144;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: 'Carme', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    padding: 0px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #d4d4d4;
    min-width: 120px;
    height: 30px;
    text-align: center;
}

.general-button:hover,
.general-button:focus {
    background: linear-gradient(to bottom, #668088 5%, #d4d4d4 100%);
    background-color: #668088;
}

.general-button:active {
    position: relative;
    top: 1px;
}

.general-button:disabled{
    cursor: not-allowed;
    opacity: 0.65;
    background: linear-gradient(to bottom, #d4d4d4 5%, #668088 100%);
    background-color: #ffffff;
}

.button-edit,
.button-delete{
    position: relative;
    padding-right: 25px;
    margin: 0 5px;
}

.button-edit:before,
.button-delete:before{
    content: '';
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    position: absolute;
    background-repeat:no-repeat;
    background-size:contain;
}

.button-edit:before{
    background-image: url('/assets/pictures/edit.png');
}

.button-delete:before{
    background-image: url('/assets/pictures/rubbish.png');
}

.wrapper-container {
    width: 100%;
    padding-top: 50px;
}

.inner-container {
    min-height: 100vh;
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

@media only screen and (max-width: 690px) {
    .inner-container {
        width: 100%;
    }

    .button-edit,
    .button-delete{
        width: 0px;
        min-width: 0px;
        padding: 0;
        padding-left: 40px;
        overflow: hidden;
        height: 40px;
    }    
    .button-edit:before,
    .button-delete:before{
        top: 10px;
        right: 10px;
    }
}