<div class="overlay" (click)="closePopUp()"></div>
<section class="form-container">
    <div class="form-container__header">
      <nav class="form-container__buttons">
        <button class="form-container__btn">Sign in</button>
        <button class="form-container__btn">Sign up</button>
      </nav>
      <button (click)="closePopUp()" class="form-container__close">&times;</button>
    </div>
    <a class="logo-container" href="#">
      <img class="logo" src="/assets/pictures/logo.png" alt="logo">
    </a>
    <h2 class="header">Welcome to OV!</h2>
    <div class="main-block">
      <div class="g-signin2" data-width="300" data-height="20" data-longtitle="true" data-onsuccess="onSignIn"></div>
      <p>Creating an account means you're okay with OV's Terms of Service, Privacy Policy.</p>
    </div>
  </section>