<div class="wrapper-container">
  <div class="inner-container">
    <section class="create-post-container">
      <header class="create-post-container__header">
        <blog-person-data [user]="user"></blog-person-data>
        <h5>Draft</h5>
      </header>
      <form #createPostForm="ngForm" (ngSubmit)="savePost(createPostForm.value)" class="create-post-form">
        <label for="post-title" class="create-post-form__label">Title</label>
        <input type="text" placeholder="type here.." id="post-title" name="title" [ngModel]="title" class="create-post-form__input">
        <label for="post-body" class="create-post-form__label">Write your story</label>
        <blog-medium-editor id="post-body" #mediumEditor class="create-post-form__input"></blog-medium-editor>
        <label for="post-footer" class="create-post-form__label">Add hashtags (#keywords #important-things #selected..) for better search</label>
        <input type="text" id="post-footer" placeholder="hashtags.." name="hashtags" [ngModel]="hashtags" class="create-post-form__input">
        <button type="submit" class="create-post-form__button">Create</button>
      </form>
    </section>
  </div>
</div>